.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list > li {
  padding: 10px;
}

.menu-search {
  align-self: center;
  height: 30px;
  border-bottom: 2px solid gray;
  position: absolute;
  right: 20px;
}
.menu-search > input {
  border: 0;
}
.menu-search > input:focus {
  outline: none;
}

.card-img {
  width: 100%;
}
.card-product {
  background-color: white;
}
.card-product:hover {
  transform: scale(1.1);
}

.product-img {
  display: flex;
  justify-content: end;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info > div {
  margin-bottom: 15px;
}
